<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Laura and William's wedding</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script data-require="jquery@*" data-semver="2.2.0" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <link data-require="jquery-ui@*" data-semver="1.11.2" rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/base/jquery-ui.css" />
        <script data-require="jquery-ui@1.11.2" data-semver="1.11.2" src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <link rel="stylesheet" href="dist/main.css">
        <link rel="icon" type="image/ico" href="favicon.ico">
    </head>
    <body>
        <div class="page-wrapper">
            {{> header}}
            {{> content}}
        </div>
        <!-- SCRIPTS -->
        <script src="dist/main.js"></script>
    </body>
</html>
