<section id="info" class="main-content">
    <h2 class="hidden">Event Information</h2>
        <div class="row">
            <article class="content">
                {{> content/rsvp}}
            </article>
            <article class="content">
                {{> content/venue}}
            </article>
            <article class="content">
                {{> content/event}}
            </article>
        </div>
        <div class="row">
            <article class="content">
                {{> content/registry}}
            </article>
        </div>
</section>
