<header class="header-content">
    <hgroup>
        <div class="names">
            <h1>Laura Kinneberg</h1>
            <h1><span class="glyph">&amp;</span></h1>
            <h1>William Whitaker</h1>
        </div>
        <div class="date">
            <h2><span class="date-text">April 17, 2016</span></h2>
        </div>
    </hgroup>
</header>
