<div id="event">
    <div class="content-heading">
        {{> svg/poly7}}
    </div>
    <div class="content-body">
        <h3>Half after twelve</h3>
        <p>lunch</p>
        <p class="glyph">&amp;</p>
        <p class="lowercase">merriment</p>
        <p>to follow</p>
    </div>
</div>
