<div id="registry">
    <div class="content-heading">
        {{> svg/poly1}}
    </div>
    <div class="content-body">
        <h2>Registry</h2>
        <ul>
            <li class="links-item">
                <a href="http://www.crateandbarrel.com/gift-registry/laura-kinneberg-and-william-whitaker/r5490819">Crate and Barrel</a>
            </li>
            <li class="links-item">
                <a href="https://www.amazon.com/registry/wedding/59GNC4790BB7">Amazon</a>
            </li>
        </ul>
    </div>
</div>
