<div id="venue">
    <div class="content-heading">
        {{> svg/poly4}}
    </div>
    <div class="content-body">
        <h3>
            <a href="http://www.tabardinn.com/">The Tabard Inn</a>
        </h3>
        <p>1739 N Street NW</p>
        <p>Washington, DC</p>
        <p>20036</p>
        <p class="content-body--small">Complimentary valet parking will be provided.</p>
    </div>
</div>
