<nav class="site-links">
    <ul>
        <li class="button">
            <a href="#venue">The Venue</a>
        </li>
        <li class="button">
            <a href="#event">The Event</a>
        </li>
        <li class="button">
            <a href="#rsvp">RSVP</a>
        </li>
        {{!-- <li class="button">
            <a href="#">Registry</a>
        </li> --}}
    </ul>
</nav>
